<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
{% include header.html %}
    <body>
{% include nav.html %}
        <main>
            <div class="py-5 text-center lander-header">
                <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <img src="/assets/images/brand.png" class="brand" alt="NEXUS Framework">
                    <p class="lead text-body-secondary">A <strong>battle-tested</strong> collection of game-ready plugins for <strong>Unreal Engine.</strong></p>
                    <p class="lead text-body-secondary">The <strong>NEXUS Framework</strong> offers commonly used patterns and <em>opinionated</em> solutions for various areas of <strong>game development</strong>.</p>
                    <p class="cta">
                        <a href="{{ site.github.home }}" class="btn btn-primary my-2"><img src="/assets/svg/github.svg" alt="GitHub" width="16" height="16"> GitHub</a>
                        <a href="{{ site.docs }}" class="btn btn-secondary my-2">Documentation</a>
                    </p>
                </div>
                </div>
            </div>
        </main>
{% include body.html %}    
{% include footer.html %}
    </body>
</html>