html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: $background-default;
  color: $body-font-color;
  font-family: $body-font;
}

.bg-dark {
  background-color: $background-default !important;
}


.text-body-secondary {
   color: $body-font-color !important;
}

.bg-body-tertiary {
  background-color: $background-tertiary !important;
}

.btn img
{
  margin-top: -4px;
}

img#nexus-n
{
  padding-right: 0px;
    margin-right: -1.5px;
    margin-top: 1px;
}

.navbar, .lander-header
{
  border-bottom-width: 1px;
  border-bottom-color: $border-color;
  border-bottom-style: solid;  
}

footer
{
    border-top-width: 1px;
    border-top-color: $border-color;
    border-top-style: solid;   
   
}
footer a:visited, footer a:link
{
  text-decoration: none;
  color: $foreground-muted !important;
}
footer a:hover
{
  text-decoration: underline;
  color: $foreground-muted !important;
}


.muted
{
  color: $foreground-muted !important;
}

.lead strong
{
  font-weight: 700;
}
.lead em
{
  font-weight: 700;
}