html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: $background-default;
  color: $body-font-color;
  font-family: $body-font;
}

.bg-dark {
  background-color: $background-default !important;
}

.text-body-secondary {
   color: $body-font-color !important;
}

.bg-body-tertiary {
  background-color: $background-tertiary !important;
}

.btn img
{
  margin-top: -4px;
}

.muted
{
  color: $foreground-muted !important;
}

.lead strong
{
  font-weight: 700;
}

.lead em
{
  font-weight: 700;
}