.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.lander-header
{
    padding: 42px;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    background-position: center;
}

img.brand
{
    width: 25em;
    height: 25em;
}