.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.lander-header
{
    padding: 42px;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    background-position: center;
}

img.brand
{
    width: 35vh;
    padding-top: 10vh;
    padding-bottom: 8vh;
}


img#nexus-n
{
  padding-right: 0px;
    margin-right: -1.5px;
    margin-top: 1px;
}

.navbar, .lander-header
{
  border-bottom-width: 1px;
  border-bottom-color: $border-color;
  border-bottom-style: solid;  
}

footer
{
    border-top-width: 1px;
    border-top-color: $border-color;
    border-top-style: solid;   
   
}
footer a:visited, footer a:link
{
  text-decoration: none;
  color: $foreground-muted !important;
}
footer a:hover
{
  text-decoration: underline;
  color: $foreground-muted !important;
}
