name: Manual Tests
run-name: MANUAL.Tests (${{ inputs.tests }}) 

on:
  workflow_dispatch:
    inputs:
      tests:
        description: 'What tests should be dispatched?'
        required: true
        type: choice
        options:
            - 'Unit Tests'
            - 'Performance Tests'
            - 'Functional Tests'
      clean:
        description: 'Clean local repository?'
        required: true
        type: boolean
        default: false
      trace:
        type: boolean
        description: 'Enable tracing with Unreal Insights'
        required: true
        default: false
        
jobs:
  ManualTest:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          clean: ${{ inputs.clean }}
      - name: Get Branch Settings
        id: settings
        run: |
          $json = Get-Content .github/branch.json | ConvertFrom-Json
          $installation = $json.installation
          echo "ue=$installation" >> $env:GITHUB_OUTPUT
        shell: powershell
      - name: Clean Workspace
        uses: ./.github/actions/workspace-clean
      - name: Add Status Check
        if: always()
        uses: actions/github-script@v8
        with:          
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.sha }}',
              context: 'Manual / Tests / ${{ inputs.tests }}',
              state: 'pending',
              description: 'Building Project ...',
              target_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/'
            })
      - name: Build Project
        uses: ./.github/actions/build-project 
        with:
          ue-installation: ${{ steps.settings.outputs.ue }}
          trace: ${{ inputs.trace }}
      - name: Update Status Check (Testing)
        if: always()
        uses: actions/github-script@v8
        with:          
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.sha }}',
              context: 'Manual / Tests / ${{ inputs.tests }}',
              state: 'pending',
              description: 'Running Tests ...',
              target_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/'                
            })
      - name: Run Manual Tests
        uses: ./.github/actions/ue-cmd-tests
        with:
          ue-installation: ${{ steps.settings.outputs.ue }}
          tests: '${{ inputs.tests }}'
      - name: Parse UE Log
        id: parse-log
        if: always()
        uses: ./.github/actions/ue-parse-log
      - name: Update Status Check (Results)
        if: always()
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.sha }}',
              context: 'Manual / Tests / ${{ inputs.tests }}',
              state: '${{ steps.parse-log.outcome }}',
              description: '',
              target_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/'
            })
      - name: Parse Test Results
        if: always()
        uses: ./.github/actions/ue-parse-results
      - name: Gather And Upload Artifacts
        if: always()
        uses: ./.github/actions/upload-artifacts
        with:
          artifact-name: 'manual-${{ github.run_number }}'
      - name: Update Summary
        if: always()
        shell: powershell
        run: |
          $markdownPath = "${{ github.workspace }}\Staging\TestResults\index.md"
          if(Test-Path -Path $markdownPath)
          {
            $markdownLines = Get-Content -Path $markdownPath
            $outputPath = $env:GITHUB_STEP_SUMMARY
            Write-Output "Updating GITHUB_STEP_SUMMARY with $outputPath."
            foreach ($line in $markdownLines) 
            {
              Write-Output "$line" >> $outputPath
            }
          }