name: Performance Tests
run-name: SCHEDULE.PerformanceTests

on:  
  schedule:
    - cron: '0 8 * * *' # 4:00 AM EST - Farm Not Busy

jobs:
  DevPerformanceTests:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          ref: dev

      - name: Get Branch Settings
        id: settings
        run: |
          $json = Get-Content .github/branch.json | ConvertFrom-Json
          $installation = $json.installation
          echo "ue=$installation" >> $env:GITHUB_OUTPUT
        shell: powershell

      - name: Clean workspace
        uses: ./.github/actions/workspace-clean

      - name: Build project
        uses: ./.github/actions/build-project
        with:
          ue-installation: ${{ steps.settings.outputs.ue }}

      - name: Run performance tests
        uses: ./.github/actions/ue-cmd-tests
        with:
          ue-installation: ${{ steps.settings.outputs.ue }}
          tests: 'Performance Tests'

      - name: Parse UE log
        if: always()
        uses: ./.github/actions/ue-parse-log

      - name: Parse test results
        if: always()
        uses: ./.github/actions/ue-parse-results

      - name: Gather and upload artifacts
        if: always()
        uses: ./.github/actions/upload-artifacts
        with:
          artifact-name: 'schedule-performance-tests-${{ github.run_number }}-dev'

      # This needs to be on the workflow to ensure it has access to the GITHUB_STEP_SUMMARY
      - name: Update summary
        if: always()
        shell: powershell
        run: |
          $markdownPath = "${{ github.workspace }}\Staging\TestResults\index.md"
          if(Test-Path -Path $markdownPath)
          {
            $markdownLines = Get-Content -Path $markdownPath
            $outputPath = $env:GITHUB_STEP_SUMMARY
            Write-Output "Updating GITHUB_STEP_SUMMARY with $outputPath."
            foreach ($line in $markdownLines) 
            {
              Write-Output "$line" >> $outputPath
            }
          }
  MainPerformanceTests:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main

      - name: Get Branch Settings
        id: settings
        run: |
          $json = Get-Content .github/branch.json | ConvertFrom-Json
          $installation = $json.installation
          echo "ue=$installation" >> $env:GITHUB_OUTPUT
        shell: powershell

      - name: Clean workspace
        uses: ./.github/actions/workspace-clean

      - name: Build project
        uses: ./.github/actions/build-project
        with:
          ue-installation: ${{ steps.settings.outputs.ue }}

      - name: Run performance tests
        uses: ./.github/actions/ue-cmd-tests
        with:
          ue-installation: ${{ steps.settings.outputs.ue }}
          tests: 'Performance Tests'

      - name: Parse UE log
        if: always()
        uses: ./.github/actions/ue-parse-log

      - name: Parse test results
        if: always()
        uses: ./.github/actions/ue-parse-results

      - name: Gather and upload artifacts
        if: always()
        uses: ./.github/actions/upload-artifacts
        with:
          artifact-name: 'schedule-performance-tests-${{ github.run_number }}-main'

      # This needs to be on the workflow to ensure it has access to the GITHUB_STEP_SUMMARY
      - name: Update summary
        if: always()
        shell: powershell
        run: |
          $markdownPath = "${{ github.workspace }}\Staging\TestResults\index.md"
          if(Test-Path -Path $markdownPath)
          {
            $markdownLines = Get-Content -Path $markdownPath
            $outputPath = $env:GITHUB_STEP_SUMMARY
            Write-Output "Updating GITHUB_STEP_SUMMARY with $outputPath."
            foreach ($line in $markdownLines) 
            {
              Write-Output "$line" >> $outputPath
            }
          }