name: Performance Tests
run-name: SCHEDULE.PerformanceTests

on:  
  schedule:
    - cron: '0 8 * * *' # 4:00 AM EST - Farm Not Busy  

jobs:
  PerformanceInsights:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Get Branch Settings
        id: settings
        run: |
          $json = Get-Content .github/branch.json | ConvertFrom-Json
          $installation = $json.installation
          echo "ue=$installation" >> $env:GITHUB_OUTPUT
        shell: powershell
      - name: Clean Workspace
        uses: ./.github/actions/workspace-clean
      - name: Add Status Check
        if: always()
        uses: actions/github-script@v8
        with:          
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.event.schedule.head_sha }}',
              context: 'Schedule / Performance Tests / Insights',
              state: 'pending',
              description: 'Building Project ...',
              target_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/'
            })
      - name: Build Project
        uses: ./.github/actions/build-project
        with:
          ue-installation: ${{ steps.settings.outputs.ue }}
      - name: Update Status Check (Testing)
        if: always()
        uses: actions/github-script@v8
        with:          
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.event.schedule.head_sha }}',
              context: 'Schedule / Performance Tests / Insights',
              state: 'pending',
              description: 'Running Tests ...',
              target_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/'                
            })
      - name: Run Performance Tests
        id: performance-tests
        uses: ./.github/actions/ue-cmd-tests
        with:
          ue-installation: ${{ steps.settings.outputs.ue }}
          tests: 'Performance Tests'
          trace: 'true'
      - name: Update Status Check (Results)
        if: always()
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.event.schedule.head_sha }}',
              context: 'Schedule / Performance Tests / Insights',
              state: '${{ steps.performance-tests.outcome }}',
              description: '',
              target_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/'
            })
      - name: Parse UE Log
        if: always()
        uses: ./.github/actions/ue-parse-log
      - name: Parse Test Results
        if: always()
        uses: ./.github/actions/ue-parse-results
      - name: Gather And Upload Artifacts
        if: always()
        uses: ./.github/actions/upload-artifacts
        with:
          artifact-name: 'schedule-performance-tests-${{ github.run_number }}-${{ runner.name }}-insights'      
      - name: Update Summary
        if: always()
        shell: powershell
        run: |
          $markdownPath = "${{ github.workspace }}\Staging\TestResults\index.md"
          if(Test-Path -Path $markdownPath)
          {
            $markdownLines = Get-Content -Path $markdownPath
            $outputPath = $env:GITHUB_STEP_SUMMARY
            Write-Output "Updating GITHUB_STEP_SUMMARY with $outputPath."
            foreach ($line in $markdownLines) 
            {
              Write-Output "$line" >> $outputPath
            }
          }
  
  PerformanceETL:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Get Branch Settings
        id: settings
        run: |
          $json = Get-Content .github/branch.json | ConvertFrom-Json
          $installation = $json.installation
          echo "ue=$installation" >> $env:GITHUB_OUTPUT
        shell: powershell
      - name: Clean Workspace
        uses: ./.github/actions/workspace-clean
      - name: Add Status Check
        if: always()
        uses: actions/github-script@v8
        with:          
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.event.schedule.head_sha }}',
              context: 'Schedule / Performance Tests / ETL',
              state: 'pending',
              description: 'Building Project ...',
              target_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/'
            })
      - name: Build Project
        uses: ./.github/actions/build-project
        with:
          ue-installation: ${{ steps.settings.outputs.ue }}
      - name: Update Status Check (Testing)
        if: always()
        uses: actions/github-script@v8
        with:          
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.event.schedule.head_sha }}',
              context: 'Schedule / Performance Tests / ETL',
              state: 'pending',
              description: 'Running Tests ...',
              target_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/'                
            })  
      - name: Start Performance Recording
        uses: ./.github/actions/xperf-start           
      - name: Run Performance Tests
        id: performance-tests
        uses: ./.github/actions/ue-cmd-tests
        with:
          ue-installation: ${{ steps.settings.outputs.ue }}
          tests: 'Performance Tests'
      - name: Stop Performance Recording
        if: always()
        uses: ./.github/actions/xperf-stop
        with:
          etl-file-name: NPerformanceTest-${{ github.run_number }}-${{ runner.name }}-etl
      - name: Update Status Check (Results)
        if: always()
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.event.schedule.head_sha }}',
              context: 'Schedule / Performance Tests / ETL',
              state: '${{ steps.performance-tests.outcome }}',
              description: '',
              target_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/'
            })
      - name: Parse UE Log
        if: always()
        uses: ./.github/actions/ue-parse-log
      - name: Parse Test Results
        if: always()
        uses: ./.github/actions/ue-parse-results
      - name: Gather And Upload Artifacts
        if: always()
        uses: ./.github/actions/upload-artifacts
        with:
          artifact-name: 'schedule-performance-tests-${{ github.run_number }}-${{ runner.name }}-etl'
      - name: Update Summary
        if: always()
        shell: powershell
        run: |
          $markdownPath = "${{ github.workspace }}\Staging\TestResults\index.md"
          if(Test-Path -Path $markdownPath)
          {
            $markdownLines = Get-Content -Path $markdownPath
            $outputPath = $env:GITHUB_STEP_SUMMARY
            Write-Output "Updating GITHUB_STEP_SUMMARY with $outputPath."
            foreach ($line in $markdownLines) 
            {
              Write-Output "$line" >> $outputPath
            }
          }
  
  Performance:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Get Branch Settings
        id: settings
        run: |
          $json = Get-Content .github/branch.json | ConvertFrom-Json
          $installation = $json.installation
          echo "ue=$installation" >> $env:GITHUB_OUTPUT
        shell: powershell
      - name: Clean Workspace
        uses: ./.github/actions/workspace-clean
      - name: Add Status Check
        if: always()
        uses: actions/github-script@v8
        with:          
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.event.schedule.head_sha }}',
              context: 'Schedule / Performance Tests / Standard',
              state: 'pending',
              description: 'Building Project ...',
              target_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/'
            })
      - name: Build Project
        uses: ./.github/actions/build-project
        with:
          ue-installation: ${{ steps.settings.outputs.ue }}
      - name: Update Status Check (Testing)
        if: always()
        uses: actions/github-script@v8
        with:          
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.event.schedule.head_sha }}',
              context: 'Schedule / Performance Tests / Standard',
              state: 'pending',
              description: 'Running Tests ...',
              target_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/'                
            }) 
      - name: Run Performance Tests
        id: performance-tests
        uses: ./.github/actions/ue-cmd-tests
        with:
          ue-installation: ${{ steps.settings.outputs.ue }}
          tests: 'Performance Tests'
      - name: Update Status Check (Results)
        if: always()
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: '${{ github.event.schedule.head_sha }}',
              context: 'Schedule / Performance Tests / Standard',
              state: '${{ steps.performance-tests.outcome }}',
              description: '',
              target_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/'
            })
      - name: Parse UE Log
        if: always()
        uses: ./.github/actions/ue-parse-log
      - name: Parse Test Results
        if: always()
        uses: ./.github/actions/ue-parse-results
      - name: Gather And Upload Artifacts
        if: always()
        uses: ./.github/actions/upload-artifacts
        with:
          artifact-name: 'schedule-performance-tests-${{ github.run_number }}-${{ runner.name }}'
      - name: Update Summary
        if: always()
        shell: powershell
        run: |
          $markdownPath = "${{ github.workspace }}\Staging\TestResults\index.md"
          if(Test-Path -Path $markdownPath)
          {
            $markdownLines = Get-Content -Path $markdownPath
            $outputPath = $env:GITHUB_STEP_SUMMARY
            Write-Output "Updating GITHUB_STEP_SUMMARY with $outputPath."
            foreach ($line in $markdownLines) 
            {
              Write-Output "$line" >> $outputPath
            }
          }
